<h3>＜注文一覧＞</h3>
<%= link_to '買い物を続ける',root_path %>
<div class="confirmation-screen">
    <% @orders.each do |order| %>
    
    
         <% @item = Item.find_by(id: order.item_id) %>
       
       
            <p>プロジェクト名>>　<%= @item.product_name %>　</p>
            <p>支援額>>　<%= @item.product_price %>　円</p>
        
        
    <p>追加支援額>>　<%= order.add_money %>　円</p>
    <p>小計>>　<%= order.price_sum %>　円</p>
    <p><%= link_to '削除', order, method: :delete, data: { confirm: 'Are you sure?' } %></p><br>
    
    <% end %>
    
    <label>
        <input type="radio" name="labeled" value="one" checked> クレジットカード払い
    </label>
    
    <label>
        <input type="radio" name="labeled" value="two"> 銀行振込
    </label>
    
    <div>
        <ul>
            <li>金融機関名　りんご銀行</li>
            <li>支店　東京支店</li>
            <li>口座種別　普通</li>
            <li>名義　　techboost</li>
            <li>口座番号　445566778899</li>
        </ul>
    </div>
    
     
    <h2>合計金額　<%= @sum.to_i %>  円</h2>
    <a class="button01" href="#">注文を確定する</a>
</div>



　