<div class="product-show">
  
    <p>＊＜プロジェクト名＞　　<%= @item.product_name %></p>
    <p>＊＜支援額＞　　<%= @item.product_price %>円</p>
    <p><%= @item.info %></p>
    <p>＊＜詳細＞　　<%= @item.description %></p>
    
    <h4>＊＜追加の支援額を入力してください＞</h4>
    
    <%= form_for @order do |f| %>
        
          <div class="form-number">
            <%= f.label :add_money, class: 'text-white' %>　　
            <%= f.number_field :add_money, class: 'form-control' %><P>円</P>
          </div>
          
          <%= f.submit "注文する", class: 'btn-circle-3d-dent' %>
          
    <% end %>
    
     
</div>
